* {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 960px;
}

html {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.1rem;
    color: #101827;
    background-color: #f2f4f6;
}

header {
    width: 100%;
}

main {
    width: 100%;
    padding-top: 2rem;
}

footer {
    width: calc(100% - 4rem);
    text-align: center;
    padding: 2rem;
    background-color: #666;
    color: #fff;
}

.rounded {
    border-radius: 0.5rem;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #f8fafb;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    display: inline-block;
    position: relative;
    padding: 1rem 0 0.9rem 0;
    cursor: pointer;
    color: #101827;
    text-decoration: none;
    font-size: 1.5rem;
}

#logo span {
    position: relative;
    top: -0.6rem;
    margin-left: 0.5rem;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filterbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 1rem 0;
}

#collections {
    margin: 0 1rem 1rem 0;
}

#categories {
    padding-bottom: 1rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: inline-block;
    padding: 1.4rem;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #101827;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #f8fafb;
    border-bottom: 2px solid #0083ff;
}

#search {
    flex-grow: 1;
    padding-right: 2rem;
}

input {
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: #fff;
}

input[type=text], input[type=search] {
    width: 100%;
}

.checkbox {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 1rem 1rem 0;
}

.checkbox label {
    cursor: pointer;
    display: block;
}

.checkbox label input {
    vertical-align: middle;
    position: relative;
    margin-top: -0.2rem;
}

select {
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
    max-height: 2.5rem;
    cursor: pointer;
    color: #101827;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card .image {
    width: 300px;
    height: 300px;
    max-width: 300px;
    min-height: 300px;
    overflow: hidden;
    text-align: center;
}

.card .image img {
    display: block;
    width: 100%;
    min-height: 300px;
    object-fit: cover; /* or object-fit: contain; */
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.card .content .content-inner {
    padding: 1rem;
    position: relative;
}

.card .content .number {
    position: absolute;
    right: 0;
    padding: 0.5rem;
    width: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.card .content .category {
    padding: 0.5rem 0 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card .content .favorite {
    border: none;
    background: none;
    width: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    position: relative;
}

.card .content .favorite img {
    font-size: 1rem;
    position: relative;
    top: 0.2rem;
}

@media only screen and (max-width: 768px) {

    #filterbar {
        flex-direction: column-reverse;
        display: block;
    }

    #collections {
        margin-bottom: 2rem;
    }

    #search {
        padding-bottom: 2rem;
        width: calc(100% - 2rem);
    }

    #search input {
        padding: 0.5rem 1rem;
    }

    select {
        padding: 0.5rem 1rem;
        line-height: 1rem;
        max-height: none;
        width: 100%;
    }

    #categories {
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
        padding: 0.5rem;
        background-color: #fff;
    }

    #categories .checkbox {
        margin: 0;
        width: calc(100% - 1rem);
        border-radius: 0;
        box-shadow: none;
    }

    #favorites {
        margin-bottom: 1rem;
    }

    #favorites .checkbox {
        padding: 0.5rem 1rem;
        width: calc(100% - 2rem);
    }
}

@media only screen and (max-width: 480px) {

    header > div {
        flex-direction: column;
    }

    #logo {
        text-align: center;
    }

    #logo span {
        display: none;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
    }

    .card {
        flex-direction: column;
    }

    .card .content .number {
        padding-top: 1rem;
        height: 100%;
    }

    .card .image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}