* {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 960px;
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px #eee;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    padding: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
}

footer {
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: #666;
    color: #fff;
}

main {
    width: 100%;
    padding: 2rem 0;
}

h1 {
    padding: 0 0 2rem 0;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 5px 5px 5px #eee;
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.card .content .content-inner {
    padding: 1rem;
    position: relative;
}

.card .content .number {
    position: absolute;
    right: 0;
    background-color: #bbb;
    color: #222;
    padding: 0.5rem;
    width: 1.5rem;
    text-align: center;
}

.card .content .category {
    background-color: #bbb;
    padding: 0.5rem 1rem;
    color: #222;
    text-transform: uppercase;
    font-size: 0.8rem;
}