* {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 960px;
}

html {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.1rem;
    color: #101827;
    background-color: #f2f4f6;
}

.rounded {
    border-radius: 0.5rem;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #f8fafb;
}

main {
    width: 100%;
    padding-top: 2rem;
}

.checkbox {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 1rem 1rem 0;
    vertical-align: middle;
}

.checkbox label {
    cursor: pointer;
    display: block;
}

.checkbox label input {
    vertical-align: middle;
    position: relative;
    margin-top: -0.2rem;
    margin-bottom: 0;
}

input {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    background-color: #fff;
}

input[type=text], input[type=search] {
    width: calc(100% - 2rem);
}

select {
    padding: 0.5rem 1rem;
    line-height: 1rem;
    max-height: none;
    border: none;
    height: 2.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

button {
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    background-color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
